@CHARSET "ISO-8859-1";
html, #page { padding:0; margin:0;}
			body { margin:0; padding:0; width:100%; color:#959595; font:normal 12px/2.0em Sans-Serif;} 
			h1, h2, h3, h4, h5, h6 {color:darkorange;}
			#page { background:#E59866     ;}
			#header, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
						
						/* Logo */
			#logo { padding:10px; width:auto; float:left;}
			#logo h1 a, h1 a:hover { color:darkorange; text-decoration:none;}
			#logo h1 span { color:#f9ebdb;}
			
			/* Header */
			#header { background:#FAD7A0; }
			#header-inner { margin:0 auto; padding:10px; width:970px;background:#fff;}
			
			
				/* Menu */
			#top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
			#top-nav ul { list-style:none; padding:0; height:37px; float:left;}
			#top-nav ul li { margin:0; padding:0 0 0 8px; float:left; display:block;}
			#top-nav ul li ul  { display:none; }
			#top-nav ul li:hover ul {display:block;}
		    #top-nav ul li:hover ul li  {float:none;}
		
		   #top-nav ul li a { display:block; margin:0; padding:8px 20px; color:orange; text-decoration:none;}
		   #top-nav ul li.active a, #top-nav ul li a:hover { color:#f9ebdb;}
		   #top-nav ul li ul .active a,
			
			label{
			 display:inline-block;
              width:100px;
              float:none;}
			.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}